body
{
    background-color: #f1fbff;
    color: #40409b;
    margin-top: 20px;
    margin-bottom: 20px;
}

.kepalairat {
 /* majd később */
}

#zold_ragyogas{
-webkit-filter: drop-shadow(0px 0px 15px green);
filter: drop-shadow(0px 0px 15px green);
}

.felirat
{
    background-color: white;
    width: 80%;
    margin: -20px auto 0 auto;
    border-radius: 10px;
    padding: 10px;
    position: relative;
}

.felirat p
{
    margin: 0;
    font-style: italic;
    color: #40409b;
}

.bal-oszlop {
    text-align: center;
    font-style: italic;
    padding: 20px;
    background-color: #99cde2;
}

.kerek
{
    border-radius: 30px;
}

.minuszmargo
{
    margin-top: -60px;
}

.keretes
{
    border-radius: 15px;
    margin-top: 30px;
	width: 100%;
    border: 5px solid white;
}

.icon
{
    height: 150px;
    display: block;
    margin: 0 auto;
}

#narancs_ragyogas
{
-webkit-filter: drop-shadow(0px 0px 15px orange);
filter: drop-shadow(0px 0px 15px orange);
}


.kozepre
{
    text-align: center;
}

.nyil {
    height: 30px;
    margin-right: 10px;
}